/* 1. Base */
@import "base/variables.css";
@import "base/global.css";

/* 2. Layout */
@import "layout/structure.css";

/* 3. Components */
@import "components/buttons.css";
@import "components/inputs.css";
@import "components/ui-kit.css";

/* 4. Modules / Pages */
@import "modules/hero.css";
@import "modules/news-display.css";
@import "base/variables.css";
@import "base/global.css";

@import "layout/structure.css";

@import "components/buttons.css";
@import "components/inputs.css";
@import "components/ui-kit.css";

@import "modules/hero.css";
@import "modules/news-display.css";
